[submodule "fuzzing/testdata/lib/forge-std"]
	path = fuzzing/testdata/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "fuzzing/testdata/contracts/lib/forge-std"]
	path = fuzzing/testdata/contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
